body {
    font-family: Khmer OS Battambang;
    line-height: 30px;
    font-size: 16px;
}

.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}

/* Menu Style */

.nav-title-font {
    font-family: 'Khmer OS Freehand', 'Khmer OS Battambang', 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.title-font {
    font-family: 'Khmer OS Freehand', 'Khmer OS Battambang', 'Times New Roman', Times, serif;
    font-size: 1.7rem;
}

.title-section {
    text-align: center;
}



/* Tab Pane */

.home-tabs-color {
    border-bottom: 3px solid rgb(90, 192, 81);
}

.home-tabs-color>li.titleTab a {
    background: rgb(90, 192, 81);
}

.home-tabs>li.titleTab>a {
    font-size: 18px;
    color: #fff;
    border-radius: 0;
    height: 46px;
    border: 0;
    position: relative;
    padding: 10px 20px;
}

.home-tabs>li.titleTab>a .corner {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 46px 0 0 20px;
    border-color: transparent transparent transparent #555;
}

.home-tabs>li.titleTab a .corner {
    border-color: transparent transparent transparent rgb(90, 192, 81);
}

/* Tab Pane */

/* Style Of Dessert Page */

.left-style {
    background-image: url("../image/sweet/icecream.jpg"), url("paper.gif");
    background-size: cover;
}

.right-style {
    border: 1px solid rgb(182, 182, 182);
}

.text-img {
    margin: 10px;
}

.text-in-style {
    background-color: white;
    text-align: center;
    padding: 40px 15px;
    margin-right: -6px;
}
.image-in-style {
    margin-left: -10px;
}

.block-title {
    display: inline-block;
    line-height: 50px;
    color: white;
}

.block-share {
    display: inline-block;
    line-height: 50px;
}

a img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding: 1px;
    box-shadow: 0px 5px 10px #888888;
}

.non-style-img {
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
    padding: none;
    box-shadow: none;
    margin-left: none;
}

.non-style-img:hover {
    -webkit-transform: none;
    transform: none;
}

a img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
}

.palaroid-parent .col-sm-4,
.col-sm-12 {
    padding-right: 5px;
    padding-left: 5px;
}

.palaroid {
    width: 10%;
    /* background-color: white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.polaroid-text {
    background-color: white;
    text-align: center;
    padding: 10px 20px;
}

/* Style Of Dessert Page */

/* Menu Style */

.edge-container .col-sm-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.food-white-shadow {
    background: #f2f2f2;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .2);
    padding-right: 12px;
    padding-left: 12px;
}

div.food-scrollmenu {
    overflow: auto;
    white-space: nowrap;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

div.food-scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px;
    text-decoration: none;
}

div.food-scrollmenu a:hover {
    background-color: #777;
}

/* Horizontal Slide Scroll Image */

#food-carousel {
    width: 550px;
    height: 300px;
    /* height: 150px; */
    /* background-color: #ff0000; */
    overflow: visible;
    white-space: nowrap;
}

#food-carousel .slide {
    height: 300px;
    display: inline-block;
    position: relative;
}

#food-carousel .slide .slide-thumb {
    position: relative;
}

.slide .td-post-category {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.slide .td-post-category {
    font-size: 20px;
    font-family: 'Preahvihear', cursive;
}

/* Horizontal Slide Scroll Image */

.food-card {
    /* margin: 5px 0px; */
    padding: 4px;
}

/* .food-card:hover {
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
} */

.card-container {
    padding: 2px 16px;
}

.food-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(238, 180, 88);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.food-button:hover {
    background-color: rgb(241, 202, 138);
    border-radius: 5%;
}

/* Food List thumbnail */

.food-thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 1px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.food-thumbnail .caption {
    padding: 9px;
    color: #333;
}

.food-thumbnail h3 {
    font-size: 20px;
    font-family: 'Suwannaphum', cursive;
}

.food-thumbnail p {
    font-family: 'Siemreap', cursive;
}

/* Food List thumbnail */

/* socialmedia */

.fab {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
    color: whitesmoke;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

/* about us*/

.develop_photos img {
    width: 60%;
    height: auto;
}

/* scroll top button style */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(248, 155, 6);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: #31722b;}

/* scroll top button style */

/* Container 2 style */
.img-news {
    cursor: pointer;
    transition: margin-left 0.5s;
    /* -webkit-transition: margin-left 0.5s; */
    -moz-transition: margin-left 0.5s;
    -o-transition: margin-left 0.5s;
}
.img-news:hover {
    margin-left: 5px;
}

.items-news .title-news {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.items-news .date-news {
    color: #999;
    font-size: 12px;
    margin: 0 0 10px;
}

/* Container 2 style */

/* Description Of Detail Page */

.topic {
    width: 20%;
    padding: 1%;
    height: auto;
    background-color: rgb(35, 176, 223);
    text-align: center;
    margin-bottom: 0%;
    font-family: 'Bayon';
    color: rgb(233, 232, 230);
  }
  
  .wrappers {
    border-top: 5px solid rgb(35, 176, 223);
    margin-bottom: 1%;
  }

  /* Description Of Detail Page */
