

.nav-title-font{
    font-family: 'Khmer OS Freehand', 'Khmer OS Battambang', 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.title-font{
    font-family: 'Khmer OS Freehand', 'Khmer OS Battambang', 'Times New Roman', Times, serif;
    font-size: 1.7rem;
}
.title-section {
    text-align: center;
}

/* footer part */
.f_service a:hover{
    color: orange;
}
.nav-link{
    color:black;
}
.card{
    border: 0px solid white;
}
.locationMap iframe{
    width: 100%;
    height: 250px;    
}
.footer_logo img{
    width: 30%;
    height: auto;
}

/* socialmedia */
.fab {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  }
.fab:hover {
    opacity: 0.7;
    color: whitesmoke;
    text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
  }
.fa-google {
    background: #dd4b39;
    color: white;
}


  /* about us*/
  .develop_photos img{
      width: 60%;
      height: auto;
}


