body {
  /* width: 80%; */
  margin: auto;
  background-color: whitesmoke;
  font-family: Khmer OS Battambang;
  line-height: 25px;
  font-size: 16px;
}

.nav-title-font {
  font-family: 'Khmer OS Freehand', 'Khmer OS Battambang', 'Times New Roman', Times, serif;
  font-size: 1rem;
}

.block-title {
  display: inline-block;
  line-height: 50px;
  color: white;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.block-share {
  display: inline-block;
  line-height: 50px;
}

a img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

a img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

img {
  padding: 1px;
  box-shadow: 0px 5px 10px #888888;
}

.topic {
  width: 20%;
  padding: 1%;
  height: auto;
  background-color: rgb(35, 176, 223);
  text-align: center;
  margin-bottom: 0%;
  font-family: 'Bayon';
  color: rgb(233, 232, 230);
}

.wrappers {
  border-top: 5px solid rgb(35, 176, 223);
  margin-bottom: 1%;
}

/* footer part */

.f_service a:hover {
  color: orange;
}

.nav-link {
  color: black;
}

.card {
  border: 0px solid white;
}

.locationMap iframe {
  width: 100%;
  height: 250px;
}

.footer_logo img {
  width: 30%;
  height: auto;
}

/* socialmedia */

.fab {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.fab:hover {
  opacity: 0.7;
  color: whitesmoke;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

/* about us*/

.develop_photos img {
  width: 60%;
  height: auto;
}